@tailwind base;

@tailwind components;

//Nav Tabs
.nav{
  @apply flex;
}
.nav-tabs .nav-item{
  @apply mr-2 px-2;
}

.nav-tabs .nav-link{
  @apply bg-white inline-block py-1;
}

// .nav-tabs .nav-link.active{
//   @apply border-b-4 ;
// }

//Buttons
.btn{
  @apply border-none items-center rounded-full text-white inline-flex justify-center text-center h-12 leading-5 tracking-btn py-2 px-4 uppercase;
}

.btn-sm{
  @apply text-xs leading-none py-2 px-4 min-w-btn-sm h-9;
}

.btn-lg{
  @apply h-14;
}

.btn-outline{
  @apply border border-solid;
}

//SVG Icons
.c-icon{
  @apply inline-block fill-current;
}

@tailwind utilities;

@import './01-dropdown-menu.scss';
@import './02-nav-tabs.scss';

body{
  font-family: 'Roboto', sans-serif;
}

button[disabled*="disabled"]{
  opacity: 0.5;
}

//Dropdown menu
.leading-10 {
  line-height: 3.5rem !important;
}
.vh-screen-100{
  height: 100vh;
  overflow: hidden;
}

.font-arvo-regular{
  font-family: 'Arvo', serif;
  font-weight: 400;
}
.font-arvo-bold{
  font-family: 'Arvo', serif;
  font-weight: 700;
}

.font-size-18{
  font-size: 18px;
}
//Cards
.c-card-hover:hover{
  .c-card-hover__footer{
    bottom: -4.0625rem;
    -webkit-box-shadow: 0 .0625rem 0 .0625rem #de2326;
    box-shadow: 0 0.0625rem 0 0.0625rem #de2326;
    opacity: 1;
  }
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.carousel-control-prev,
.carousel-control-next {
  cursor: pointer;
  width: auto;
  padding: 0 16px;
  transition: 0.6s ease;
  user-select: none;
  -webkit-user-select: none;
}
/* Position the "next button" to the right */
.carousel-control-next {
  right: 0;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}